.msg-wrapper.my-message{
    justify-content: flex-end;
}
.msg-date-divider{
    height: 34px;
    padding: 10px;
    margin:20px;
}
.msg-date-divider > span{
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.24px;
    text-align: center;
}

.bubble{
    max-width: 80%;
    border-radius: 8px 8px 8px 0px;
    padding: 5px 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
    background-color:white;
}
.bubble.my-message{
    border-radius: 8px 0px 8px 8px;
    background-color: #3498db;
}
 .message{
    opacity: 0.9;
    font-family: Arial;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing:0.5px;
    color: #333333;
}

.message--avatar {
    width: 24px;
    height: 24px;
    border-radius: 99px;
    background-color: gray;
    background-image: url(https://images.unsplash.com/photo-1563306406-e66174fa3787?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGdpcmx8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60);
    background-size: cover;
    background-position: center center;
    align-self: end;
}

.message.my-message{
    color: white;
}

.message-date{
    font-size: 13px;
}

.icon-wrapper.misc{
    height: 24px;
    width: 24px;
    opacity: 0.4;
    border-radius: 18px;
    background-color: #e6e6e6;
    border: none;
}
.icon-wrapper.misc > img{
    width: 18px;
}
.icon-wrapper > .button{
    outline: 0;
}

.msg-bar-holder{
    padding: 0 4px;
    background-color: white;
    width: 100%;
}

.collapsing.timeStamp{
    visibility: hidden;
    transition-duration: 0.15s;
}

.collapse.show.timeStamp{
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.15s;
}

.collapse.empty{
    visibility: hidden;
}
.collapse.empty.show{
    visibility: hidden;
}.collapsing.empty{
    visibility: hidden;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}