@import './_window.css';
@import './_header.css';
@import './_messages.css';
@import './_input.css';

@media (max-width: 600px) {
    [class*="banner"] {
        display: none;
    }
}

.chat{
    font-family: Arial;
}

.icon-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 44px;
    height: 44px;
}
.icon-wrapper:focus{
    outline: 0;
}