<div class="chat-header sticky-top w-100 d-flex justify-content-between">
    <div class="header-elements start d-flex">
        <img class="image-button mb-1" src="\images\ic-arrow-left.svg">
        <span class="title">Emile</span>
    </div>
    <div class="header-elements end d-flex">
        <a class="button search" type="button">
            <img class="image-button mb-1" src="\images\ic-search.svg">
        </a>
        <a class="button leave" type="button">
            <img class="image-button mb-1" src="\images\ic-leave.svg">
        </a>
    </div>
</div>