<div class="msg-bar-holder w-100 d-flex justify-content-between">
    <div class="icon-wrapper">
        <a href="#">
            <img class="image-button" src="\images\ic-gallery-album.svg">
        </a>
    </div>
    <div class="icon-wrapper">
        <a href="#">
            <img class="image-button" src="\images\ic-camera.svg">
        </a>
    </div>
    <div class="icon-wrapper">
        <a href="#">
            <img class="image-button" src="\images\ic-flower.svg">
        </a>
    </div>

    <div class="text-input d-flex justify-content-center flex-grow-1">
        <span class="input w-100 column-reverse" role="textbox" contenteditable=""></span>
   </div>

    <div class="icon-wrapper">
        <a href="#">
            <img class="image-button" src="\images\ic-send.svg">
        </a>
    </div>
</div>