{{page-title "Chat"}}
<div class="sticky-top w-100 vh-100 bg-dark d-flex flex-column justfiy-content-center align-items-center">
    <Chat::Header></Chat::Header>
    <Chat::Window @model={{this.model}}></Chat::Window>
    <Chat::Input></Chat::Input>
</div>